<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="templateApp" ng-controller="templateController">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" sizes="any" href="data:;base64,iVBORw0KGgo=">
        <title dg-view-title></title>
        <script type="text/javascript" src="config.js"></script>
        <script type="text/javascript" src="/services/js/platform-core/services/loader.js?id=view-js"></script>
        <link type="text/css" rel="stylesheet" href="/services/js/platform-core/services/loader.js?id=view-css" />
        <script src="controller.js">
        </script>
    </head>

    <body class="order-box">

        <div class="fd-padding bk-pointer">
            <h2 bk-title wrap="true" header-size="2" aria-label="title" align="center">Review order</h2>
        </div>

        <bk-scrollbar class="bk-full-height bk-padding--sm">

            <bk-fieldset class="fd-margin-bottom--md" ng-form="forms.details">
                <bk-form-group abel="{{formHeaders[action]}}" name="entityForm" transclude-classes="fd-container fd-form-layout-grid-container">
                    <bk-form-item class="fd-row">
                        <div class="fd-col fd-col-md">
                            <bk-form-label for="idReason" ng-required="true" colon="true">Reason</bk-form-label>
                        </div>
                        <div class="fd-col  fd-col-md--12">
                            <bk-form-input-message state="{{ forms.details['Reason'].$valid ? '' : 'error' }}" message="'The value doesn\'t match the required pattern: '">
                                <bk-input id="idReason" name="Reason" state="{{ forms.details['Reason'].$valid ? '' : 'error' }}" ng-required="true" ng-model="entity.Reason" ng-readonly="action === 'select'" ng-maxlength="200.0"
                                    input-rules="{ patterns: [''] }" type="text" placeholder="Enter Reason" rows="3">
                                </bk-input>
                            </bk-form-input-message>
                        </div>
                    </bk-form-item>
                </bk-form-group>
            </bk-fieldset>

            <table bk-table display-mode="compact">
                <tbody bk-table-body>
                    <tr bk-table-row hoverable="true">
                        <td bk-table-cell style="width: 33.33%;"><b>Order #: </b>{{Order.Number}}</td>
                        <td bk-table-cell style="width: 33.33%;"><b>Customer: </b> {{Customer.Name}}</td>
                        <td bk-table-cell style="width: 33.33%;"><b>Payment method: </b>Cash</td>
                    </tr>
                    <tr bk-table-row hoverable="true">
                        <td bk-table-cell style="width: 33.33%;"><b>Order Date: </b>{{Order.Date | date: 'yyyy-MM-dd'}}</td>
                        <td bk-table-cell style="width: 33.33%;"><b>Phone: </b>{{Customer.Contact}}</td>
                        <td bk-table-cell style="width: 33.33%;"><b>Sent method: </b>${sentMethod}</td>
                    </tr>
                    <tr bk-table-row hoverable="true">
                        <td bk-table-cell style="width: 33.33%;"><b>Status: </b>{{Order.Status}}</td>
                        <td bk-table-cell style="width: 33.33%;"><b>Email: </b>{{Customer.Email}}
                        </td>
                        <td bk-table-cell style="width: 33.33%;"><b>Total price: </b>${totalPrice}</td>
                    </tr>
                </tbody>
            </table>

            <table bk-table display-mode="compact" style="margin-top: 3em;">
                <thead bk-table-header>
                    <tr bk-table-row>
                        <th bk-table-header-cell>Item</th>
                        <th bk-table-header-cell>Quantity</th>
                        <th bk-table-header-cell>Base unit</th>
                        <th bk-table-header-cell>Price</th>
                        <th bk-table-header-cell>Total</th>
                    </tr>
                </thead>
                <tbody bk-table-body>
                    <tr bk-table-row hoverable="true" ng-repeat="next in OrderItems">
                        <td bk-table-cell>{{next.Product}}</td>
                        <td bk-table-cell>{{next.Quantity| number}}</td>
                        <td bk-table-cell>{{next.UoM}}</td>
                        <td bk-table-cell>{{next.Price| number}}</td>
                        <td bk-table-cell>{{next.Quantity * next.Price | number}}</td>
                    </tr>
                </tbody>
            </table>
        </bk-scrollbar>

        <bk-bar bar-design="footer">
            <bk-bar-right>
                <bk-bar-element>
                    <bk-button label="Approve" state="positive" compact="true" ng-click="approveOrder()"></bk-button>
                </bk-bar-element>
                <bk-bar-element>
                    <bk-button label="Reject" state="negative" compact="true" ng-click="rejectOrder()"></bk-button>
                </bk-bar-element>
            </bk-bar-right>
        </bk-bar>

        <theme></theme>
    </body>

</html>
