<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="templateApp" ng-controller="templateController">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" sizes="any" href="data:;base64,iVBORw0KGgo=">
        <title dg-view-title></title>
        <script type="text/javascript" src="config.js"></script>
        <script type="text/javascript" src="/services/js/platform-core/services/loader.js?id=view-js"></script>
        <link type="text/css" rel="stylesheet" href="/services/js/platform-core/services/loader.js?id=view-css" />
        <script src="controller.js"></script>
    </head>

    <body class="bk-vbox">
        <bk-scrollbar class="bk-full-height bk-padding--lg">

            <div class="fd-padding bk-pointer">
                <h2 bk-title wrap="true" header-size="2" aria-label="title" align="center">Finish order</h2>
            </div>


            <div class="fd-padding bk-pointer">
                <h4 bk-title wrap="true" header-size="4" aria-label="widget title">Order Summary:</h4>
            </div>

            <table bk-table>
                <thead bk-table-header interactive="false">
                    <tr bk-table-row>
                        <th bk-table-header-cell><strong>Order #:</strong> {{Order.Number}}</th>
                        <th bk-table-header-cell> <strong>Customer:</strong> {{Customer.Name}}</th>
                        <th bk-table-header-cell> <strong>Status:</strong> {{Order.StatusName}}</th>
                        <th bk-table-header-cell><strong>Total:</strong> {{Order.Total | number:2}}</th>

                    </tr>
                </thead>
            </table>
        </bk-scrollbar>

        <bk-bar class="bk-margin-top--md bk-padding--sm">
            <bk-bar-right>
                <bk-button label="Paid" state="positive" compact="true" ng-click="payOrder()"></bk-button>
                <bk-button label="Returned" state="negative" compact="true" ng-click="returnOrder()"></bk-button>
            </bk-bar-right>
        </bk-bar>

        <theme></theme>
        <dialogs></dialogs>
    </body>

</html>
