<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="templateApp" ng-controller="templateController">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" sizes="any" href="data:;base64,iVBORw0KGgo=">
        <title dg-view-title></title>
        <script type="text/javascript" src="config.js"></script>
        <script type="text/javascript" src="/services/js/platform-core/services/loader.js?id=view-js"></script>
        <link type="text/css" rel="stylesheet" href="/services/js/platform-core/services/loader.js?id=view-css" />
        <script src="controller.js"></script>
    </head>

    <body class="bk-vbox">
        <bk-scrollbar class="bk-full-height bk-padding--lg">

            <div class="fd-padding bk-pointer">
                <h2 bk-title wrap="true" header-size="2" aria-label="title" align="center">Ship order</h2>
            </div>

            <bk-fieldset class="fd-margin-bottom--md">
                <bk-form-group>
                    <bk-form-item horizontal="false">
                        <bk-form-label for="shippingProvider-{{ $index }}" ng-required="true" colon="true">ShippingProvider</bk-form-label>
                        <bk-combobox-input input-id="shippingProvider-{{ $index }}" ng-required="true" ng-model="entity.shippingProvider" dropdown-items="ShippingProviderOptions" placeholder="Choose Shipping Provider ..."
                            btn-aria-label="show/hide Shipping Providers" list-aria-label="Assignee options"></bk-combobox-input>
                    </bk-form-item>
                    <bk-form-item>
                        <bk-form-label required for="trackingNumber">Tracking number:</bk-form-label>
                        <bk-input-group>
                            <bk-input id="trackingNumber" type="text" placeholder="Enter Tracking Number"></bk-input>
                        </bk-input-group>
                    </bk-form-item>
                </bk-form-group>
            </bk-fieldset>


            <div class="fd-padding bk-pointer">
                <h4 bk-title wrap="true" header-size="4" aria-label="widget title">Order Summary:</h4>
            </div>

            <table bk-table>
                <thead bk-table-header interactive="false">
                    <tr bk-table-row>
                        <th bk-table-header-cell><strong>Order #:</strong> {{Order.Number}}</th>
                        <th bk-table-header-cell> <strong>Customer:</strong> {{Customer.Name}}</th>
                        <th bk-table-header-cell> <strong>Status:</strong> {{Order.Status}}</th>
                        <th bk-table-header-cell><strong>Total:</strong> ${{Order.Total | number:2}}</th>

                    </tr>
                </thead>
            </table>
        </bk-scrollbar>

        <bk-bar bar-design="footer" size="m_l">
            <bk-bar-right>
                <bk-button label="Ship" state="positive" compact="true" ng-click="shipOrder()"></bk-button>
            </bk-bar-right>
        </bk-bar>

        <theme></theme>
    </body>

</html>
